<% @dpag.each do |d| %>
	<% doc = d %>

	<tr class="doc">
		<% authId = "#" + doc[:id].to_s %>
		<td><a data-toggle="collapse" data-target= <%= authId %> style="cursor:pointer"> <%= doc[:name] %> </a> 
			<div class="collapse" id=<%= doc[:id] %> >
				<ul>
					<% doc[:entries].each do |x| %>
					
					<li> <a href=<%= doc_path(id: x[:id]) %>> <%= x[:title] %> </a> </li>	

					<% end %>
				</ul>	
			</div>
		</td>	
	
<% end %>

