<div class="panel panel-info">
   <div class="panel-heading">
    <div class="panel-title">
      <div class="ssl-table-search">
        <h4>Search By:</h4>
        <%= form_tag("/doc", method: "get") do %>
          <%= label_tag(:title, "Title:") %>
          <%= text_field_tag(:title, params[:title])%>
          <%= label_tag(:author, "Author(s):") %>
          <%= text_field_tag(:author, params[:author]) %>
          <%= label_tag(:keywords, "Keywords:") %>
          <%= text_field_tag(:keywords, params[:keywords]) %>
          <%= submit_tag("Search", class: 'btn btn-primary') %>
        <% end %>
      </div>
      </div>
  </div>
</div>

<%if not @authors%>
  <div class="panel panel-info ssl-table">
    <div class="panel-heading">
      <div class="panel-title">
      <div>Number of results: <%= @count %></div>
    </div>
  </div>
    <div class="panel-body">
      <table class="table" id="docs">
        <thead>
          <tr>
            <th><a href=<%= docs_path({sort_by: :title}) %>>Title</a></th> 
            <th><a href=<%= docs_path({sort_by: :author}) %>>Author(s)</a></th>
            <th><a href=<%= docs_path({sort_by: :isbn}) %>>ISBN</a></th>
          </tr>
        </thead>
        <tbody class="page">
          <%= render partial: '/doc/doc_table_body' %>
        </tbody>
      </table>
      <%= paginate @dpag %>
    </div>
  </div>

<% else %>
   <div class="panel panel-info ssl-table">
      <div class="panel-heading">
        <div class="panel-title">
        <div>Authors By Name: 
          <div id="alphaString">

            <script>
              for(i = 65; i <= 90; i++){
                var letter = String.fromCharCode(i);
                var newElem = document.createElement ("span");
                newElem.innerHTML = '<a href="?authors=' + letter + '">  ' + letter + '  </a>'

                document.getElementById("alphaString").appendChild(newElem);
              }
              
            </script>

          </div>
        </div>
        </div>
      </div>
        <div class="panel-body">
          <table class="table" id="docs">
            <tbody class="page">
              <%= render partial: '/doc/doc_authortable_body' %>
            </tbody>
          </table>
          <%= paginate @dpag %>
        </div>
    </div>
<% end %>
